[Unit]
Description=Loomio Hourly Tasks
Requires=loomio.service
After=loomio.service

[Service]
Type=oneshot
WorkingDirectory={{PROJECT_DIR}}
ExecStart={{PROJECT_DIR}}/scripts/run-hourly-tasks.sh
StandardOutput=append:{{PROJECT_DIR}}/logs/loomio-hourly.log
StandardError=append:{{PROJECT_DIR}}/logs/loomio-hourly.log

[Install]
WantedBy=multi-user.target
